<ion-app  >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title> Catálogo de Cervejas Artesanais </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content >
      <ion-list >
        <ion-item-sliding *ngFor="let cerveja of listaCerveja">
  
          <ion-item>
  
              <ion-avatar  slot="start">
                <img [src]="cerveja.foto_cerveja" />
              </ion-avatar>
  
              <ion-label>
                <ion-card >
  
                  <ion-card-header>
                    <ion-card-subtitle>{{cerveja.estilo}}</ion-card-subtitle>
                    <ion-card-title><strong>{{cerveja.nome}}</strong></ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
  
                    <h3> Descrição:
                      <ion-text color="black">
                        <strong>{{cerveja.descricao}}</strong>
                      </ion-text>
                    </h3>
  
                    <h3>Marca: {{cerveja.marca}}</h3>

                    <h3>Coloração: {{cerveja.coloracao}}</h3>

                    <h3>Amargor: {{cerveja.amargor}}</h3>
                    
                    <h3>Cervejaria: {{cerveja.cervejaria}}</h3>
                    
                    <h4>Data de Lançamento: {{cerveja.data_lancamento | date: 'dd/MM/yyyy' }}</h4>
        
                  </ion-card-content>
                </ion-card>
              </ion-label>
          </ion-item>
  
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="excluir(cerveja)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="start">
            <ion-item-option (click)="editar(cerveja)">
              <ion-icon name="pencil" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
  
  
        </ion-item-sliding>

        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button>
            <ion-icon name="add" [routerLink]="['/cadastro-cerveja']"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-list>
  
      
      <ion-footer >
        <ion-toolbar>
            <h5 class= "text-center">Todos direitos reservados João Paulo e Osmar Savi 2020</h5>
        </ion-toolbar>
      </ion-footer>
  
    </ion-content>
  </ion-app>